

html {
    background: url("./assets/bgphoto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    /* max-width: 1300px; */
    /* margin: 0px auto; */
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
    "a a b"
    "a a c"
    "a a d"
    "q q e"
    "q q f"
    "q q g";
}

.albums {
    
  justify-self: end;
    align-items: end;
}

#cover1 {
    grid-area: a;
}

#cover2 {
    grid-area: q;
}

#tiktok {
    grid-area: b;
}

#instagram {
    grid-area: c;
}

#telegram {
    grid-area: d;
}

#vk {
    grid-area: e;
}

#vk-community {
    grid-area: f;
}

#facebook {
    grid-area: g;
}

.social-media-logo {
    width: 150px;
}

.backgroundVideo {
    opacity: 50%;
    position: absolute;
    /*width: 100%;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%);
}

.touch-me  {
    width: fit-content;
    /* margin: 0 auto; */
    margin-bottom: 10px;
}

.touch-me > button {
    box-shadow: 5px 5px 5px;
}