@media (max-width: 4096px) {
    .album-cover {
        width: 550px;
    }
    .social-media-logo {
        width: 180px;
    }
    .social-media-links > div{
        display: inline;
    }
}

@media (max-width:1200px) {
    .album-cover {
        width: 500px;
    }
    .social-media-logo {
        width: 163px;
    }
}

@media (max-width:1100px) {
    .album-cover {
        width: 400px;
    }
    .social-media-logo {
        width: 127px;
    }
}

@media (max-width:992px) {
    .album-cover {
        width: 400px;
    }
    .social-media-logo {
        width: 170px;
    }
    .social-media-links > div{
        display: block;
    }
}

@media (max-width:852px) {
    .album-cover {
        width: 300px;
    }
    .social-media-logo {
        width: 170px;
    }
    .social-media-links > div{
        display: block;
    }
}

@media (max-width:767px) {
    .album-cover {
        width: 320px;
    }
    .social-media-logo {
        width: 180px;
    }
}

@media (max-width:680px) {
    .album-cover {
        width: 270px;
    }
    
    .social-media-logo {
        width: 150px;
    }
    h1 {
        font-size: 40px;
    }
}

@media (max-width:580px) {
    .album-cover {
        width: 230px;
    }
    .social-media-logo {
        width: 130px;
    }
}

@media (max-width:480px) {
    .album-cover {
        width: 170px;
    }
    .social-media-logo {
        width: 100px;
    }
}


@media (max-width:340px) {
    .album-cover {
        width: 180px;
    }
    .social-media-logo {
        width: 70px;
    }
}

html {
    background: url("./assets/bgphoto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    max-width: 1300px;
    margin: 0px auto;
}

.container > * {
    margin: 0px auto;
}

h1 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 4px black;
}

.backgroundVideo {
    opacity: 50%;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%);
}

.touch-me  {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}

.touch-me > button {
    box-shadow: 5px 5px 5px;
}