main {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

h1 {
    font-size: 70px;
    margin-bottom: 15px;
    
    margin-right: 70px;
    margin-top: -10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.social-media-logo {
    width: 300px;
    /* box-shadow: 0 0 5px black; */
}


.backgroundVideo {
    opacity: 50%;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%);

}

