html {
    background: url("./assets/bgphoto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    width: 100%;
    height: 100%;
}

.content {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: 5px dashed black;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1.65fr 1fr;
}

/* .albums {
    align-items: center;
} */

.social-media-links {
    justify-self: center;
    align-items: center;
}

.album-cover {
    width: 420px;
}

.social-media-logo {
    width: 136px;
}

.touch-me  {
    width: fit-content;
    margin-bottom: 10px;    
    margin: 0 auto;
    margin-bottom: 10px;
}

.touch-me > button {
    box-shadow: 5px 5px 5px;
}

/* .backgroundVideo {
    opacity: 50%;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%);
} */