html {
    background: url("./assets/bgphoto.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* main {
    width: 100%;
    margin: 0 auto;
} */

.container {
    display: grid;
    grid-template-columns: 1.65fr 1fr;
}

.albums {
    justify-self: end;
    align-items: end;
}

.album-cover {
    height: 450px;
}

.social-media-logo {
    width: 147px;
}


.touch-me  {
    width: fit-content;
    margin-bottom: 10px;
}

.touch-me > button {
    box-shadow: 5px 5px 5px;
}

/* .backgroundVideo {
    opacity: 50%;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%);
} */